.stage4 .bottomText1 {
  color: #2d2d2d;
}
.stage3 .bottomText2 {
  color: #a6a6a6;
}
.stepperOneContainer {
  position: relative;
}
.stageFiveRatingDIV {
  position: absolute;
  bottom: 20px;
  right: 90px;
  width: 164px;
  color: #f57c00;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
}
.stepperTopImg {
  margin-top: 0;
}
